@page
@model GestionReservations.Pages.GestionVoitures.AjouterVoitureModel
@{
}
<h1>Ajouter un véhicule</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Voiture.Description" class="control-label">Description</label>
                <input asp-for="Voiture.Description" class="form-control" />
                <span asp-validation-for="Voiture.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voiture.PrixJournalier" class="control-label">Prix</label>
                <input asp-for="Voiture.PrixJournalier" class="form-control" />
                <span asp-validation-for="Voiture.PrixJournalier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voiture.Marque" class="control-label">Marque</label>
                <input asp-for="Voiture.Marque" class="form-control" />
                <span asp-validation-for="Voiture.Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voiture.AnneeFabrication" class="control-label">Année de fabrication</label>
                <input asp-for="Voiture.AnneeFabrication" class="form-control" />
                <span asp-validation-for="Voiture.AnneeFabrication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}