@page
@model GestionReservations.Pages.GestionChambres.ConsulterChambreModel
@{
}

<ul>
    <li>ID de la chambre : @Model.Chambre.Id</li>
    <li>Description de la chambre : @Model.Chambre.Description</li>
    <li>Prix de la chambre : @Model.Chambre.PrixJournalier</li>
    <li>Nom de l'hôtel : @Model.Chambre.NomHotel</li>
</ul>